*{
  padding:0px;
  margin: 0px;
}

h2{
  Color: cyan;
  Margin: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  text-shadow: 0 0 5px;
}

h2:hover{
  Color: Skyblue;
}

body{
  font-family: "poppine",sans-serif;
  background: #0f123a;
  color: white;
}

nav{
  width: 100%;
  padding: 1rem 10%;
  background: #0f125a;
  border-bottom: 1px solid #0f123a;
  backdrop-filter: blur(25px);
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0 0 5px;
}

.logo{
  margin-right: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: cyan;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: 0 0 2px;
}

.nav-links li a {
  position: relative;
  font-size: 2.5rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.nav-links li a:hover {
  color: cyan;
  text-shadow: 0 0 5px cyan;
}

.btn{
  padding: 20px;
  color: cyan;
  font-size: 2rem;
  margin-left: 3rem;
  font-weight: bold;
  background: none;
  border: none;
  text-shadow: 0 0 2px;
}
  
.btn:hover{
  color: darkcyan;
}
/* ORDER CONTAINER */
.Container {
  width: 90%;
  max-width: 550px;
  margin-left: 20rem;
  margin-top: 5rem;
  padding: 30px;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  color:black;
  align-items: center;
}

/* HEADINGS */
.Container h3 {
  text-align: center;
  margin: 20px 0;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* LABELS */
.Container label {
  display: block;
  margin: 12px 0 6px;
  font-size: 14px;
  font-weight: bold;
}

/* TEXT INPUTS */
#fullname,
#address,
#email,
#Phone {
  width: 100%;
  padding: 13px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 9px;
  background: #f7f7f7;
  font-size: 15px;
  outline: none;
}

/* INPUT CLICK EFFECT */
#fullname:focus,
#address:focus,
#email:focus,
#Phone:focus {
  border-color: #111;
  background: #fff;
}

/* PRODUCT DROPDOWN */
#product {
  width: 100%;
  padding: 13px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 9px;
  background: #f7f7f7;
  font-size: 15px;
  outline: none;
}

/* RADIO BUTTONS */
input[type="radio"] {
  margin-right: 5px;
  accent-color: #111;
}

/* SIZE & COLOR LABELS */
input[type="radio"]+label {
  display: inline-block;
  margin: 5px 12px 5px 0;
  font-weight: normal;
}

/* DROPDOWN FOCUS */
#product:focus {
  border-color: #111;
  background: #fff;
}

#submit {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background: #111;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#submit:hover {
    background: #333;
    transform: translateY(-2px);
}

#submit:active {
    transform: scale(0.98);
}